extends ../layout
block head
    link(href='/css/film/detail-film.css', rel='stylesheet')
    script(src="/js/film/film.js")
block body
    div.main-film-container

        div.film-detail-side
            div.film-header
                h3 #{filmContent.title} (#{filmContent.release_date.slice(0,4)})
                if filmContent.tagline
                    p.film-sub '#{filmContent.tagline}'
            //- Film poster section
            div.film-poster
                img.img-fluid.img-poster(src="https://image.tmdb.org/t/p/w200" + filmContent.poster_path)
            div.film-sub
                p.film-sub-info #[span.page-sub-headings Released:] #{filmContent.release_date}
                div.film-rating
                    p.film-sub-info #[span.page-sub-headings Rating:]
                    div.film-rating-fa 
                        - for(let i = 0; i < 5; i++){
                            if i < Math.floor(filmContent.vote_average / 2)
                                i.fas.fa-ticket
                            else
                                i.far.fa-ticket
                        - }               
                p.film-sub-info #[span.page-sub-headings Net Revenue:]
                    if filmContent.revenue 
                        | $#{(filmContent.revenue - filmContent.budget)} 
                    else
                        | N/A
                p.film-sub-info #[span.page-sub-headings Runtime:] #{filmContent.runtime} minutes  
                div.film-links
                    a.film-link(href='http://www.imdb.com/title/' +filmContent.imdb_id target='_blank') #[i.fab.fa-imdb]  
                    a.film-link(href=filmContent.homepage target='_blank') #[i.far.fa-external-link-square-alt]                                                                                                
        
        div.film-page-container

            div.film-search-bar-top
                form(action = '/film/search', method = 'GET')
                    i.fas.fa-search.search-icon
                    input.search-box#search-box(name='q' placeholder='Search...')


            div.film-main-body
                div.film-overview
                    p.page-sub-headings Overview
                    p.overview-text #{filmContent.overview}

                div.film-reviews
                    if user
                        p.page-sub-headings My Review                       
                        form(action = '/film/' + filmContent.id, method = "POST")
                            div.form-row
                                div.form-group.col-md-10
                                    input.form-control(name='title' type = "text" placeholder = "Title")
                                div.form-group-col-md
                                    select.form-control(name='rating')
                                        - for(let i = 0; i <= 5; i++){
                                            option(value=i) #{i} star
                                        - }
                            textarea.form-control#userreview(name = 'review' placeholder = "enter your awesome review here.." rows='6')
                            button.btn.btn-outline-success(type = 'submit') Add
                    else
                        p Sign in to speak your mind
            div.film-main-body
                p.page-sub-headings User Reviews
